.container {
  display: flex;
  min-height: 100vh;
}

.welcomeMsg {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  margin-top: 2em;
  color: var(--text-color);
}

.mainContnet {
  padding-left: 10px;
  flex: 1;
  padding: 20px;
}
