.appointment {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.card {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.patientCard {
  display: flex;
  flex-direction: row;
}

.appointmentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tableContainer tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

.tableContainer td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.tableContainer tr {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.appointmentRow {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}
